<div class="sidebar">
  <h2>My Catatan</h2>
  <div class="content-sidebar">
    <div class="home">
      <a href="/" id="home">
        <span class="material-symbols-outlined"> home </span>
        Home
      </a>
    </div>
    <div class="add">
      <a href="/tambah" id="tambah" name="tambah">
        <span class="material-symbols-outlined"> add </span>
        Tambah Catatan
      </a>
    </div>
  </div>
</div>
