<div class="container-form">
  <form action="/tambah" method="post">
    <div class="judul">
      <label for="title">Judul</label>
      <input type="text" name="title" id="title" placeholder="Judul" />
    </div>
    <div class="deskripsi">
      <label for="description">deskripsi</label>
      <textarea
        name="description"
        id="description"
        cols="0"
        rows="10"
      ></textarea>
    </div>
    <button type="submit">
      <div>
        <span>
          <p>Save :)</p>
        </span>
      </div>
      <div>
        <span>
          <p>Thanks</p>
          <p>:D</p>
        </span>
      </div>
    </button>
  </form>
</div>
